@config "./tailwind.config.js";
@import 'tailwindcss';

@import '@fontsource-variable/nunito';
@import '@fontsource-variable/arima';

/* Collection name: colorPrimitives */
/* Mode: Light */
:root {
    --red---10: #ffeeef;
    --red---20: #ffc8cb;
    --red---30: #ffa2a7;
    --red---40: #ff7c82;
    --red---50: #ff565e;
    --red---60: #dd4149;
    --red---70: #bb2f36;
    --red---80: #991f25;
    --red---90: #771318;
    --red---100: #550a0e;
    --orange---10: #fff6ee;
    --orange---20: #ffe2ca;
    --orange---30: #ffcda5;
    --orange---40: #ffb981;
    --orange---50: #ffa55c;
    --orange---60: #dd8a46;
    --orange---70: #bb7034;
    --orange---80: #995824;
    --orange---90: #774217;
    --orange---100: #552d0d;
    --yellow---10: #fffcf2;
    --yellow---20: #fff5ce;
    --yellow---30: #ffeda9;
    --yellow---40: #ffe684;
    --yellow---50: #e2ca6f;
    --yellow---60: #c5af5b;
    --yellow---70: #a89449;
    --yellow---80: #8a7a38;
    --yellow---90: #6d602a;
    --yellow---100: #50461c;
    --green---10: #ecfff6;
    --green---20: #c1ffe1;
    --green---30: #97ffcc;
    --green---40: #6cffb8;
    --green---50: #3ff69e;
    --green---60: #2ad482;
    --green---70: #2db376;
    --green---80: #0c9050;
    --green---90: #036e3a;
    --green---100: #004c27;
    --blue---10: #e9f5ff;
    --blue---20: #b9e1ff;
    --blue---30: #89ccff;
    --blue---40: #59b7ff;
    --blue---50: #29a2ff;
    --blue---60: #1787dd;
    --blue---70: #096ebb;
    --blue---80: #005799;
    --blue---90: #004377;
    --blue---100: #003055;
    --purple---10: #f7f4ff;
    --purple---20: #e2d2ff;
    --purple---30: #ccb1ff;
    --purple---40: #b08bf6;
    --purple---50: #9774d9;
    --purple---60: #7f5fbc;
    --purple---70: #684c9f;
    --purple---80: #533a82;
    --purple---90: #3e2a64;
    --purple---100: #2b1c47;
    --pink---10: #fff1fb;
    --pink---20: #ffc7ef;
    --pink---30: #ff9de3;
    --pink---40: #ff74d7;
    --pink---50: #ec63c5;
    --pink---60: #cf50ab;
    --pink---70: #b23e91;
    --pink---80: #952f78;
    --pink---90: #77225f;
    --pink---100: #5a1647;
    --greyscale---10: #fdfffe;
    --greyscale---20: #edfff6;
    --greyscale---30: #d6ebe1;
    --greyscale---40: #bed5ca;
    --greyscale---50: #a6beb3;
    --greyscale---60: #90a79c;
    --greyscale---70: #7a9186;
    --greyscale---80: #647a70;
    --greyscale---90: #50635a;
    --greyscale---100: #3c4d45;
    --greyscale-0: #ffffff;
    --greyscale-999: #000000;
    --greyscale-white: #ffffff;
    --greyscale-black: #000000;
}

/* Collection name: colorPrimitives */
/* Mode: Dark */
/* :root {
  --red---10: #550a0e;
  --red---20: #771318;
  --red---30: #991f25;
  --red---40: #bb2f36;
  --red---50: #dd4149;
  --red---60: #ff565e;
  --red---70: #ff7c82;
  --red---80: #ffa2a7;
  --red---90: #ffc8cb;
  --red---100: #ffeeef;
  --orange---10: #552d0d;
  --orange---20: #774217;
  --orange---30: #995824;
  --orange---40: #bb7034;
  --orange---50: #dd8a46;
  --orange---60: #ffa55c;
  --orange---70: #ffb981;
  --orange---80: #ffcda5;
  --orange---90: #ffe2ca;
  --orange---100: #fff6ee;
  --yellow---10: #50461c;
  --yellow---20: #6d602a;
  --yellow---30: #8a7a38;
  --yellow---40: #a89449;
  --yellow---50: #c5af5b;
  --yellow---60: #e2ca6f;
  --yellow---70: #ffe684;
  --yellow---80: #ffeda9;
  --yellow---90: #fff5ce;
  --yellow---100: #fffcf2;
  --green---10: #004c27;
  --green---20: #036e3a;
  --green---30: #0c9050;
  --green---40: #2db376;
  --green---50: #2db376;
  --green---60: #3ff69e;
  --green---70: #6cffb8;
  --green---80: #97ffcc;
  --green---90: #c1ffe1;
  --green---100: #ecfff6;
  --blue---10: #003055;
  --blue---20: #004377;
  --blue---30: #005799;
  --blue---40: #096ebb;
  --blue---50: #1787dd;
  --blue---60: #29a2ff;
  --blue---70: #59b7ff;
  --blue---80: #89ccff;
  --blue---90: #b9e1ff;
  --blue---100: #e9f5ff;
  --purple---10: #2b1c47;
  --purple---20: #3e2a64;
  --purple---30: #533a82;
  --purple---40: #684c9f;
  --purple---50: #7f5fbc;
  --purple---60: #9774d9;
  --purple---70: #b08bf6;
  --purple---80: #ccb1ff;
  --purple---90: #e2d2ff;
  --purple---100: #f7f4ff;
  --pink---10: #5a1647;
  --pink---20: #77225f;
  --pink---30: #952f78;
  --pink---40: #b23e91;
  --pink---50: #cf50ab;
  --pink---60: #ec63c5;
  --pink---70: #ff74d7;
  --pink---80: #ff9de3;
  --pink---90: #ffc7ef;
  --pink---100: #ffffff;
  --greyscale---10: #3c4d45;
  --greyscale---20: #50635a;
  --greyscale---30: #647a70;
  --greyscale---40: #7a9186;
  --greyscale---50: #90a79c;
  --greyscale---60: #a6beb3;
  --greyscale---70: #bed5ca;
  --greyscale---80: #d6ebe1;
  --greyscale---90: #edfff6;
  --greyscale---100: #fdfffe;
  --greyscale-0: #000000;
  --greyscale-999: #ffffff;
  --greyscale-white: #ffffff;
  --greyscale-black: #000000;
} */

/* Collection name: colorUsage */
/* Mode: Mode 1 */

:root {
    --background-neutral-primary: var(--greyscale---10);
    --background-neutral-secondary: var(--greyscale---20);
    --background-neutral-tertiary: var(--greyscale---30);
    --background-neutral-inverse-primary: var(--greyscale---100);
    --background-neutral-inverse-secondary: var(--greyscale---90);
    --background-neutral-inverse-tertiary: var(--greyscale---80);
    --background-brand-primary: var(--green---50);
    --background-brand-secondary: var(--green---30);
    --background-brand-tertiary: var(--green---10);
    --background-neutral-disabled: var(--greyscale---30);
    --background-semantic-success-subtle: var(--green---10);
    --background-semantic-success-bold: var(--green---60);
    --background-semantic-warning-subtle: var(--orange---10);
    --background-semantic-warning-bold: var(--orange---60);
    --background-semantic-error-subtle: var(--red---10);
    --background-semantic-error-bold: var(--red---60);
    --background-semantic-info-subtle: var(--yellow---10);
    --background-semantic-info-bold: var(--yellow---60);
    --text-neutral-primary: var(--greyscale---100);
    --text-neutral-secondary: var(--greyscale---80);
    --text-neutral-tertiary: var(--greyscale---70);
    --text-neutral-disabled: var(--greyscale---50);
    --text-neutral-inverse-primary: var(--greyscale---10);
    --text-neutral-inverse-secondary: var(--greyscale---20);
    --text-neutral-inverse-tertiary: var(--greyscale---30);
    --text-brand-primary: var(--green---50);
    --text-semantic-success-primary: var(--green---70);
    --text-semantic-success-inverse: var(--green---10);
    --text-brand-inverse: var(--green---10);
    --text-semantic-warning-primary: var(--orange---70);
    --text-semantic-warning-inverse: var(--orange---10);
    --text-semantic-error-primary: var(--red---70);
    --text-semantic-error-inverse: var(--red---10);
    --text-semantic-info-primary: var(--yellow---70);
    --text-semantic-info-inverse: var(--yellow---10);
    --border-neutral-primary: var(--greyscale---30);
    --border-neutral-secondary: var(--greyscale---50);
    --border-neutral-inverse-primary: var(--greyscale---90);
    --border-neutral-inverse-secondary: var(--greyscale---70);
    --border-brand-primary: var(--green---60);
    --border-brand-inverse: var(--green---20);
    --border-semantic-success-primary: var(--green---80);
    --border-semantic-success-inverse: var(--green---20);
    --border-semantic-warning-primary: var(--yellow---80);
    --border-semantic-warning-inverse: var(--orange---20);
    --border-semantic-error-primary: var(--red---80);
    --border-semantic-error-inverse: var(--red---20);
    --border-semantic-info-primary: var(--blue---80);
    --border-semantic-info-inverse: var(--blue---20);
    --border-icons: var(--text-neutral-primary);
}

/* Text-Styles from Figma */

@theme {
    --font-nunito: 'Nunito Variable', sans-serif;
    --font-arima: 'Arima Variable', system-ui;

    --background-image-rafiki: url(/rafiki.svg);
    --background-image-bedroom: url(/bedroom.svg);
    --background-image-house: url(/house.svg);
    --background-image-house2: url(/house2.svg);
    --background-image-library: url(/library.svg);
    --background-image-studio: url(/studio.svg);
}

.custom-hamburger .hamburger-react > div {
    height: 1.5px !important; /* Estilo light */
    background-color: text-neutral-primary !important; /* Tu color deseado */
    border-radius: 9999px;
}

/* .body-xsmall-regular-12 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 140%;
  @apply font-nunito text-[0.75rem] font-normal leading-[140%] tracking-[0];
}

.body-xsmall-regularUppercase-12 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 4%;
  text-transform: uppercase;
  @apply font-nunito text-[0.75rem] font-normal leading-[140%] tracking-[0.04em] uppercase;
}

.body-xsmall-semibold-12 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 140%;
  @apply font-nunito text-[0.75rem] font-semibold leading-[140%] tracking-[0];
}

.body-small-regular-14 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
  @apply font-nunito text-[0.875rem] font-normal leading-[140%];
}

.body-small-semibold-14 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 140%;
  @apply font-nunito text-[0.875rem] font-semibold leading-[140%];
}

.body-medium-regular-16 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  @apply font-nunito text-[1rem] font-normal leading-[140%];
}

.body-medium-semibold-16 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
  @apply font-nunito text-[1rem] font-semibold leading-[140%];
}

.body-medium-bold-16 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
  @apply font-nunito text-[1rem] font-bold leading-[140%];
}

.body-italic-regular-16 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  font-style: italic;
  @apply font-nunito text-[1rem] font-normal italic leading-[140%];
}

.body-large-regular-18 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 140%;
  @apply font-nunito text-[1.125rem] font-normal leading-[140%];
}

.body-large-bold-18 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 140%;
  @apply font-nunito text-[1.125rem] font-bold leading-[140%];
}

.body-large-italic-18 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 140%;
  font-style: italic;
  @apply font-nunito text-[1.125rem] font-normal italic leading-[140%];
}

.title-xsmall-regular-20 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  @apply font-nunito text-[1.25rem] font-normal leading-[120%];
}

.title-xsmall-semibold-20 {
  font-family: 'Nunito Variable', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  @apply font-nunito text-[1.25rem] font-semibold leading-[120%];
}

.title-small-regular-24 {
  font-family: 'Arima Variable', serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 120%;
  @apply font-arima text-[1.5rem] font-normal leading-[120%];
}

.title-small-semibold-24 {
  font-family: 'Arima Variable', serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 120%;
  @apply font-arima text-[1.5rem] font-semibold leading-[120%];
}

.title-medium-regular-32 {
  font-family: 'Arima Variable', serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
  @apply font-arima text-[2rem] font-normal leading-[120%];
}

.title-medium-light-32 {
  font-family: 'Arima Variable', serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 120%;
  @apply font-arima text-[2rem] font-light leading-[120%];
}

.title-medium-regular-32 {
  font-family: 'Arima Variable', serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
  @apply font-arima text-[2rem] font-normal leading-[120%];
}

.title-medium-semibold-32 {
  font-family: 'Arima Variable', serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
  @apply font-arima text-[2rem] font-semibold leading-[120%];
}

.title-large-light-40 {
  font-family: 'Arima Variable', serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 120%;
  @apply font-arima text-[2.5rem] font-light leading-[120%];
}

.title-large-semibold-40 {
  font-family: 'Arima Variable', serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 120%;
  @apply font-arima text-[2.5rem] font-semibold leading-[120%];
}

.title-xlarge-light-48 {
  font-family: 'Arima Variable', serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 120%;
  @apply font-arima text-[3rem] font-light leading-[120%];
}

.title-xlarge-semibold-48 {
  font-family: 'Arima Variable', serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 120%;
  @apply font-arima text-[3rem] font-semibold leading-[120%];

}

.title-2xlarge-light-64 {
  font-family: 'Arima Variable', serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 120%;
  @apply font-arima text-[4rem] font-light leading-[120%];
}

.title-2xlarge-semibold-64 {
  font-family: 'Arima Variable', serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 120%;
  @apply font-arima text-[4rem] font-semibold leading-[120%];
} */
